In [56]:
import pandas as pd
import numpy as np
import os
from sklearn.preprocessing import MaxAbsScaler
import pickle

train_pickle_filename = "train.dataframe.pickle"
test_pickle_filename = "test.dataframe.pickle"

In [57]:
if not os.path.exists(train_pickle_filename):
    df = pd.read_csv('train.csv', index_col='ID')
    df.to_pickle(train_pickle_filename)
else:
    df = pd.read_pickle(train_pickle_filename)

In [58]:
if not os.path.exists(test_pickle_filename):
    df_test = pd.read_csv('test.csv', index_col='ID')
    df_test.to_pickle(test_pickle_filename)
else:
    df_test = pd.read_pickle(test_pickle_filename)

In [59]:
description = df.describe()
description

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,...,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,7.602000e+04,76020.000000
mean,-1523.199277,33.212865,86.208265,72.363067,119.529632,3.559130,6.472698,0.412946,0.567352,3.160715,...,7.935824,1.365146,12.215580,8.784074,31.505324,1.858575,76.026165,56.614351,1.172358e+05,0.039569
std,39033.462364,12.956486,1614.757313,339.315831,546.266294,93.155749,153.737066,30.604864,36.513513,95.268204,...,455.887218,113.959637,783.207399,538.439211,2013.125393,147.786584,4040.337842,2852.579397,1.826646e+05,0.194945
min,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.163750e+03,0.000000
25%,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.787061e+04,0.000000
50%,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.064092e+05,0.000000
75%,2.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.187563e+05,0.000000
max,238.000000,105.000000,210000.000000,12888.030000,21024.810000,8237.820000,11073.570000,6600.000000,6600.000000,8237.820000,...,50003.880000,20385.720000,138831.630000,91778.730000,438329.220000,24650.010000,681462.900000,397884.300000,2.203474e+07,1.000000

Remove columns that are constant

In [60]:
description = df.describe()
for column in df.columns:
    if description[column]['min'] == description[column]['max']:
        print(column)
        del df[column]
        del df_test[column]

ind_var2_0
ind_var2
ind_var27_0
ind_var28_0
ind_var28
ind_var27
ind_var41
ind_var46_0
ind_var46
num_var27_0
num_var28_0
num_var28
num_var27
num_var41
num_var46_0
num_var46
saldo_var28
saldo_var27
saldo_var41
saldo_var46
imp_amort_var18_hace3
imp_amort_var34_hace3
imp_reemb_var13_hace3
imp_reemb_var33_hace3
imp_trasp_var17_out_hace3
imp_trasp_var33_out_hace3
num_var2_0_ult1
num_var2_ult1
num_reemb_var13_hace3
num_reemb_var33_hace3
num_trasp_var17_out_hace3
num_trasp_var33_out_hace3
saldo_var2_ult1
saldo_medio_var13_medio_hace3

In [61]:
description = df.describe()
for column in df.columns:
    if description[column]['min'] <= -999999.000000:
        print(column)

var3

Column var3 has some really small numbers that don't make sense. Please those with zero.

In [62]:
df.var3[df.var3 < 0] = 0
df_test.var3[df_test.var3 < 0] = 0

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

If a column contains 9999999999.0, then drop the column. These turn out to be the "delta..." columns.

In [63]:
description = df.describe()
large_num = 9999999999.0
for column in df.columns:
    if description[column]['max'] == large_num:
        del df[column]
        del df_test[column]

Remove columns that are duplicated

In [64]:
duplicate_columns_filename = "duplicate_columns.pickle"
duplicate_columns = set()
if not os.path.exists(duplicate_columns_filename):
    columns = df.columns
    for i, column1 in enumerate(columns[:-1]):
        for column2 in columns[i+1:]:
            if df[column1].equals(df[column2]):
                duplicate_columns.add(column2)
    print(duplicate_columns)
else:
    print("Found " + duplicate_columns_filename)
    duplicate_columns = pickle.load( open( duplicate_columns_filename, "rb" ) )
for c in duplicate_columns:
    if c in df.columns:
        del df[c]
    if c in df_test.columns:
        del df_test[c]

Found duplicate_columns.pickle

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76020 entries, 1 to 151838
Columns: 273 entries, var3 to TARGET
dtypes: float64(100), int64(173)
memory usage: 158.9 MB

Scale values between min and max

In [66]:
y_all = df['TARGET'].values
X_all = df.drop(['TARGET'], axis=1).values
X_test_all = df_test.values

In [67]:
# scaler = MaxAbsScaler()
# X_all = scaler.fit_transform(X_all)
# X_unknown_all = scaler.transform(X_test_all)

In [68]:
np.save(open("X_all.npy", "wb"), X_all)
np.save(open("y_all.npy", "wb"), y_all)
np.save(open("X_unknown_all.npy", "wb"), X_unknown_all)