In [302]:
import pandas as pd
import numpy as np
import os
import matplotlib as plt
from sklearn.cross_validation import train_test_split
from sklearn import linear_model
from sklearn import metrics

%matplotlib inline

train_pickle_filename = "train.dataframe.pickle"
test_pickle_filename = "test.dataframe.pickle"

In [303]:
if not os.path.exists(train_pickle_filename):
    df = pd.read_csv('train.csv', index_col='ID')
    df.to_pickle(train_pickle_filename)
else:
    df = pd.read_pickle(train_pickle_filename)

In [304]:
if not os.path.exists(test_pickle_filename):
    df_test = pd.read_csv('test.csv', index_col='ID')
    df_test.to_pickle(test_pickle_filename)
else:
    df_test = pd.read_pickle(test_pickle_filename)

In [305]:
description = df.describe()
description

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,...,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,7.602000e+04,76020.000000
mean,-1523.199277,33.212865,86.208265,72.363067,119.529632,3.559130,6.472698,0.412946,0.567352,3.160715,...,7.935824,1.365146,12.215580,8.784074,31.505324,1.858575,76.026165,56.614351,1.172358e+05,0.039569
std,39033.462364,12.956486,1614.757313,339.315831,546.266294,93.155749,153.737066,30.604864,36.513513,95.268204,...,455.887218,113.959637,783.207399,538.439211,2013.125393,147.786584,4040.337842,2852.579397,1.826646e+05,0.194945
min,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.163750e+03,0.000000
25%,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.787061e+04,0.000000
50%,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.064092e+05,0.000000
75%,2.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.187563e+05,0.000000
max,238.000000,105.000000,210000.000000,12888.030000,21024.810000,8237.820000,11073.570000,6600.000000,6600.000000,8237.820000,...,50003.880000,20385.720000,138831.630000,91778.730000,438329.220000,24650.010000,681462.900000,397884.300000,2.203474e+07,1.000000

Remove columns that are constant

In [306]:
description = df.describe()
for column in df.columns:
    if description[column]['min'] == description[column]['max']:
        print(column)
        del df[column]
        del df_test[column]

ind_var2_0
ind_var2
ind_var27_0
ind_var28_0
ind_var28
ind_var27
ind_var41
ind_var46_0
ind_var46
num_var27_0
num_var28_0
num_var28
num_var27
num_var41
num_var46_0
num_var46
saldo_var28
saldo_var27
saldo_var41
saldo_var46
imp_amort_var18_hace3
imp_amort_var34_hace3
imp_reemb_var13_hace3
imp_reemb_var33_hace3
imp_trasp_var17_out_hace3
imp_trasp_var33_out_hace3
num_var2_0_ult1
num_var2_ult1
num_reemb_var13_hace3
num_reemb_var33_hace3
num_trasp_var17_out_hace3
num_trasp_var33_out_hace3
saldo_var2_ult1
saldo_medio_var13_medio_hace3

In [307]:
description = df.describe()
for column in df.columns:
    if description[column]['min'] <= -999999.000000:
        print(column)

var3

Column var3 has some really small numbers that don't make sense. Please those with zero.

In [308]:
df.var3[df.var3 < 0] = 0
df_test.var3[df_test.var3 < 0] = 0

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

If a column contains 9999999999.0, then drop the column. These turn out to be the "delta..." columns.

In [309]:
description = df.describe()
large_num = 9999999999.0
for column in df.columns:
    if description[column]['max'] == large_num:
        del df[column]
        del df_test[column]

In [310]:
# for column in df.columns[:-1]:
#     max_ = description[column]['max']
#     min_ = description[column]['min']
#     df[column] = (df[column] - min_ )/ (max_ - min_)
#     df_test[column] = (df_test[column] - min_) / (max_ - min_)

In [319]:
description = df.drop(['TARGET'], axis=1).describe()
min_ = description['min':'min'].values.reshape(-1)
max_ = description['max':'max'].values.reshape(-1)
df.iloc[:,:-1] = (df.iloc[:,:-1] - min_) / (max_ - min_)
df_test = (df_test - min_) / (max_ - min_)

In [320]:
y_all = df['TARGET']
X_all = df.drop(['TARGET'], axis=1)

Linear Regression

In [327]:
sample_size = len(X_all)
X_train, X_test, y_train, y_test = train_test_split(X_all[:sample_size], y_all[:sample_size], test_size=0.20)
clf = linear_model.LinearRegression()
%time clf.fit(X_train, y_train)

pred = clf.predict(X_test)
fpr, tpr, thresholds = metrics.roc_curve(y_test, pred)#, pos_label=2)
metrics.auc(fpr, tpr)

CPU times: user 3.88 s, sys: 214 ms, total: 4.09 s
Wall time: 2.11 s

0.78873261735370892

Logistic Regression

In [352]:
sample_size = len(X_all)
X_train, X_test, y_train, y_test = train_test_split(X_all[:sample_size], y_all[:sample_size], test_size=0.20)
clf = linear_model.LogisticRegression()
%time clf.fit(X_train, y_train)

pred = clf.predict_proba(X_test)
fpr, tpr, thresholds = metrics.roc_curve(y_test, pred[:,1])#, pos_label=2)
metrics.auc(fpr, tpr)

CPU times: user 1.2 s, sys: 113 ms, total: 1.31 s
Wall time: 1.38 s

0.78254064450767225

Neural Network